<div style="display: none" class="content">
  <span>http-client-example app is running!</span>
</div>

<div class="container">
  <div *ngIf="isCatVisible">
    <img
      alt="Logo"
      src="https://cat-fact.herokuapp.com/img/logo/app-logo.png"
    />
  </div>
  <div style="flex: 1">
    <mat-progress-bar *ngIf="!catFact" mode="indeterminate"></mat-progress-bar>
    <ng-container *ngIf="catFact">
      <mat-card>{{ catFact.type }}</mat-card>
      <br />
      <mat-card>{{ catFact.text }}</mat-card>
      <br />
      <mat-card>
        <mat-progress-bar
          *ngIf="isLoadingCat"
          mode="indeterminate"
        ></mat-progress-bar>
        {{ (catFactAsync | async)?.text }}</mat-card
      >
      <br />
      <button
        (click)="isCatVisible = !isCatVisible"
        mat-raised-button
        color="primary"
      >
        {{ isCatVisible ? "Hide" : "Show" }} me the cat
      </button>
    </ng-container>
  </div>
</div>
